
*.cpp
*.txt
*.obj
*.pch
*.h
*.pdb
*.exp
*.hash
*.ilk
*.hxml
*.lib
*.exe
*.xml
*.ndll
export/windows/obj/obj/msvc1964-debug-nc/all_objs
*.ico
export/windows/haxe/ApplicationMain.hx
export/windows/haxe/ManifestResources.hx
export/windows/obj/tmp/manifest/default.json
*.ttf
*.svg
export/html5/haxe/ManifestResources.hx
export/html5/haxe/ApplicationMain.hx
export/html5/bin/manifest/default.json
export/html5/bin/flixel/sounds/flixel.ogg
export/html5/obj/webfont/monsterrat.eot
*.woff
export/html5/bin/flixel/images/ui/button.png
export/html5/bin/flixel/sounds/beep.mp3
export/html5/bin/flixel/fonts/nokiafc22.eot
export/html5/bin/favicon.png
export/html5/bin/flixel/sounds/beep.ogg
*.html
export/html5/obj/webfont/nokiafc22.eot
export/html5/bin/flixel/sounds/flixel.mp3
export/html5/bin/flixel/images/logo/default.png
export/html5/bin/flixel/fonts/monsterrat.eot
