
*.cpp
*.txt
*.obj
*.pch
*.h
*.pdb
*.exp
*.hash
*.ilk
*.hxml
*.lib
*.exe
*.xml
*.ndll
export/windows/obj/obj/msvc1964-debug-nc/all_objs
*.ico
export/windows/haxe/ApplicationMain.hx
export/windows/haxe/ManifestResources.hx
export/windows/obj/tmp/manifest/default.json
